# macOS
.DS_Store

# Always ignore stdout/stderr logs and their rotated versions (everywhere)
connectivity_checker.log*
connectivity_checker.error*

# Ignore all log files in logs directory except README.md
logs/*
!logs/README.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/