# macOS
.DS_Store

# VSCode
.vscode/

# Always ignore stdout/stderr logs and their rotated versions (everywhere)
connectivity_checker.log*
connectivity_checker.error*

# Ignore runtime logs but include hostname directories and README.md
logs/connectivity_checker.log*
logs/connectivity_checker.error*
!logs/README.md
!logs/*/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Coverage reports
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/