<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.connectivity.checker.system</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/zhengziying/Repos/xfinity-outage/connectivity_checker.py</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/zhengziying/Repos/xfinity-outage/connectivity_checker.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/zhengziying/Repos/xfinity-outage/connectivity_checker.error</string>
    <key>WorkingDirectory</key>
    <string>/Users/zhengziying/Repos/xfinity-outage</string>
    <key>UserName</key>
    <string>zhengziying</string>
</dict>
</plist>